body {
    background-color: #e5e5e5 !important;
}

.header-area {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-area .logo img {
    width: 150px;
}

.user-account ul {
    display: flex;
    align-items: center;
}

ul {
    list-style: none;
    padding: 0 !important;
    margin: 0 !important;
}

a {
    text-decoration: none !important;
}

.user-account ul li:not(:last-child) {
    margin-right: 16px;
}

.header-area .links li a {
    font-size: 18px;
    font-weight: 600;
    color: #000;
}

.basket-btn {
    background-color: transparent;
    border: transparent;
    font-size: 18px;
    font-weight: 200;
}

.user-account ul li a {
    color: #000;
}

.user-account ul li svg {
    margin-right: 5px;
}

.product-view {
    margin-top: 50px;
}

.title-area .title {
    font-size: 45px;
    font-weight: 600;
}

.title-area p {
    font-size: 16px;
    font-weight: 500;
}

.filter-btn {
    border: transparent;
    margin: 0;
    display: flex;
    align-items: center;
    text-align: left;
    background-color: #fff;
    border-radius: 50px;
    padding: 10px 20px;
}

.filter-btn-left .mini-text {
    font-size: 14px;
    color: gray;
    display: block;
}

.filter-btn-left p {
    font-size: 18px;
    margin: 0;
}

.filter-btn-left {
    margin-right: 30px;
}

.filter-area {
    margin-top: 35px;
}

.filter-area {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.filter-left-area {
    display: flex;
    align-items: center;
}

.filter-left-area .filter-box {
    margin-right: 20px;
    position: relative;
}

.filter-left-area .filter-box:last-child {
    margin: 0;
}

.filter-content {
    max-width: 195px;
    min-width: 100%;
    position: absolute;
    top: 75px;
    padding: 10px;
    background-color: #fff;
    border-radius: 50px;
}

.filter-search-area input {
    width: 100%;
    border-radius: 8px;
    border: 1px solid gray;
}

.product-img img {
    width: 100%;
}

.product-img img {
    width: 100%;
}

.product-area {
    margin-top: 80px;
}

.product-img img {
    height: 300px;
    object-fit: cover;
}

.product-img {
    background-color: #fff;
    position: relative;
}

.product-info .product-name {
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 5px;
}

.product-info {
    margin-top: 15px;
}

.product-info p {
    font-size: 14px;
    color: #565656;
    margin-bottom: 7px !important;
}

.product-info .price {
    font-size: 18px;
    font-weight: 600;
}

.product-img .colors {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    font-size: 13px;
}

.product-img .colors span {
    background-color: red;
    width: 10px;
    height: 10px;
    display: block;
    border-radius: 50%;
    margin-right: 5px;
}

.login-area {
    padding: 70px 0;
}

.login-top .title {
    font-size: 40px;
    font-weight: 600;
}

.login-top p {
    font-size: 17px;
    font-weight: 300;
    margin: 0;
}

.form-input input {
    background-color: #ffffff29;
    box-shadow: 0px 0px 6px -1px #a7a7a7;
    border: 1px solid #c3c3c3;
    border-radius: 4px;
}

.form-input {
    margin-bottom: 20px;
}

.login-top {
    margin-bottom: 30px;
}

.site-btn {
    background-color: transparent;
    border: 1px solid #000;
    display: block;
    padding: 6px 20px;
    border-radius: 4px;
    color: #000;
}

.login-btn-area {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
}

.site-btn.login-btn {
    background-color: #000;
    color: #fff;
}

.account-box {
    box-shadow: 0px 0px 7px -2px #919191;
    border-radius: 7px;
    padding: 15px;
    background-color: #ffffff38;
}

.account-box .account-name {
    font-size: 21px;
    font-weight: 600;
    margin-bottom: 14px;
    display: block;
}

.account-box .account-title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 8px;
    display: block;
}

.account-list li a {
    color: gray;
    font-size: 16px;
    font-weight: 500;
}

.account-list li.active a {
    color: #000;
}

.account-list li:not(:last-child) {
    margin-bottom: 4px;
}

.account-box .login-btn-area {
    margin-top: 15px;
}

.account-area {
    margin: 70px 0;
}

.login-top .title {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 35px;
}

.site-btn {
    background-color: transparent;
    border: 1px solid #000 !important;
    display: block;
    padding: 6px 20px;
    border-radius: 4px;
    color: #000;
}

.form-input {
    margin-bottom: 15px;
}

.login-btn-area .site-btn {
    width: 100%;
}

.header-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-item .logo img {
    width: 150px;
}

.header-links ul {
    display: flex;
    align-items: center;
}

ul {
    list-style: none !important;
    margin: 0 !important;
    padding: 0 !important;
}

a {
    text-decoration: none !important;
}

.header-links>ul>li>a {
    color: #000;
    display: block;
    padding: 8px 10px;
}

.header-links ul li ul {
    position: absolute;
    top: 100%;
    background-color: #ededed;
    padding: 7px 10px !important;
    border-radius: 6px;
    width: 100px;
    min-width: max-content;
    display: none;
}

.header-links ul li {
    position: relative;
}

.header-links ul li:hover .sub-menu {
    display: block;
}

ul.sub-menu li a {
    color: #000;
    display: block;
}

ul.sub-menu li:not(:last-child) a {
    margin-bottom: 5px;
}

.admin-account-content .user-photo img {
    width: 40px;
}

.admin-account-content {
    display: flex;
    align-items: center;
    padding: 15px 0;
}



.admin-account-content .user-photo {
    margin-right: 10px;
}

.admin-account-content .user-info {
    font-size: 16px;
    font-weight: 600;
}

.admin-account:hover .admin-account-other-link {
    display: block;
}

ul.admin-account-other-link {
    display: none;
    position: absolute;
    top: 100%;
}

.admin-account {
    position: relative;
}

ul.admin-account-other-link {
    box-shadow: 0px 0px 7px -1px #939393;
    border-radius: 5px;
    width: 130px;
    min-width: max-content;
}

ul.admin-account-other-link li a {
    display: block;
    padding: 4px 7px;
    color: #000;
}

.admin-account-other-link li:not(:last-child) {
    border-bottom: 1px solid #9f9f9f;
}

.admin-account-content .user-info .user-name {
    color: #000;
}

.product-color {
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.list-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #dddddd;
}

.list-top-left .title {
    font-size: 30px;
}

.list-search input {
    border-radius: 3px;
}

.input-area label {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 5px;
}

.input-area:not(:last-child) {
    margin-bottom: 16px;
}


.account-box {
    box-shadow: 0px 0px 7px -2px #919191;
    border-radius: 7px;
    padding: 15px;
    background-color: #ffffff38;
}

.account-box .account-name {
    font-size: 21px;
    font-weight: 600;
    margin-bottom: 14px;
    display: block;
}

.account-box .account-title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 8px;
    display: block;
}

.account-list li a {
    font-size: 16px;
    font-weight: 500;
    color: #323232;
}

.account-list li:not(:last-child) {
    margin-bottom: 4px;
}

.account-box .login-btn-area {
    margin-top: 15px;
}

.account-area {
    margin: 70px 0;
}

.profile-photo img {
    width: 100%;
}

ul.admin-account-other-link li button {
    display: block;
    padding: 4px 7px;
    color: #000;
    border: none;
    box-shadow: none;
    background-color: transparent;
    width: 100%;
    text-align: left;
}

.img-area img {
    width: 100%;
}
